
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>İletişim</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    İletişim
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
      
    </div><!-- /.container -->
</div>
<section class="contact_us">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h2>Bize Yazın</h2>
                </div>
                <div class="default-form-area">
                    <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post" novalidate="novalidate">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">
                                    <input type="text" name="form_name" class="form-control" value="" placeholder="Your Name *" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="form_email" class="form-control required email" value="" placeholder="Your Mail *" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="form_phone" class="form-control" value="" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="form_subject" class="form-control" value="" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <textarea name="form_message" class="form-control textarea required" placeholder="Your Message...." aria-required="true"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button class="btn-style-one" type="submit" data-loading-text="Please wait...">send message</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="sec-title">
                    <h2>İletişim Bilgilerimiz</h2>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri.</p>
                </div>
                <br>
                <div class="default-cinfo">

                    <div class="acc-content collapsed">
                        <ul class="contact-infos">
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-map-marker"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Address:</b> <br> 121 Rain St, Melbourne 3000, Australia.</p>
                                </div><!-- /.text-box -->
                            </li>
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-phone"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Call Us:</b> <br> +222 4444 88 999</p>
                                </div><!-- /.text-box -->
                            </li>
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-envelope"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Mail Us:</b> <br> Yourmail@info.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="map-section">
    <div class="map-outer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.5674809702114!2d40.70955591515388!3d37.329071745449816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400a8f3bd30a5b41%3A0x72f950f7ee817079!2sSahra+Gelinlik!5e0!3m2!1str!2str!4v1534158187601" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
