@model Narail.Models.Author
<div class="modal-header" style="background-color:#00BCD4 ;color:white">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2 class="modal-title" style="text-align: center" > @Model.NameSurname</h2>
</div>
<div class="modal-body">
    <table class="table table-bordered">
        <tr>
            <td>Yazar Resmi</td>
            <td>
                <img src="@Model.Image" />
            </td>
        </tr>       
        <tr>
            <td>Yazar Email</td>
            <td>
                @Model.Email
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="material-icons">power_settings_new</i> Kapat</button>
</div>
  