<div class="category-style-one sidebar-padd mar-1">
    <div class="inner-title">
        <h3>Kategoriler</h3>
    </div>
    <ul class="list">
        <li><a href="#" class="clearfix"><span class="float_left">Business Growth </span><span class="float_right">(8)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">Business Plans </span><span class="float_right">(3)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">Consulting </span><span class="float_right">(6)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">Funding Trends </span><span class="float_right">(9)</span></a></li>
        <li><a href="#" class="clearfix"><span class="float_left">Financial </span><span class="float_right">(7)</span></a></li>
    </ul>
</div> <!-- End of .sidebar_categories -->
