
<section class="news-section padd-1 bg-1">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title center">
            <h2>Latest <span>News</span></h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!--News Style One-->
                <div class="news-style-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Content/Site/images/blog/1.jpg" alt="" />
                            <div class="post-time">22 Jan, 2018</div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                            <div class="text">
                                Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                            </div>
                            <div class="link-btn2 center">
                                <a href="blog-details.html" class="btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!--News Style One-->
                <div class="news-style-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Content/Site/images/blog/2.jpg" alt="" />
                            <div class="post-time">22 Jan, 2018</div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                            <div class="text">
                                Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                            </div>
                            <div class="link-btn2 center">
                                <a href="blog-details.html" class="btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!--News Style One-->
                <div class="news-style-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Content/Site/images/blog/3.jpg" alt="" />
                            <div class="post-time">22 Jan, 2018</div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-details.html">We Make you to Grow your Business</a></h3>
                            <div class="text">
                                Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.
                            </div>
                            <div class="link-btn2 center">
                                <a href="blog-details.html" class="btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
