<section class="fact-counter" style="background-image:url(images/background/2.jpg);">
    <div class="container">
        <div class="row clearfix">
            <div class="counter-outer clearfix">
                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-happiness"></i></div>
                        <div class="count-outer"><span class="count-text" data-speed="3000" data-stop="1382">0</span>+</div>
                        <h4 class="counter-title">Happy Clients</h4>
                    </div>

                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-competition"></i></div>
                        <div class="count-outer"><span class="count-text" data-speed="3000" data-stop="289">0</span></div>
                        <h4 class="counter-title">Awards Winning</h4>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-meeting"></i></div>
                        <div class="count-outer"><span class="count-text" data-speed="3000" data-stop="754">0</span></div>
                        <h4 class="counter-title">World Wide Client</h4>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-layers"></i></div>
                        <div class="count-outer"><span class="count-text" data-speed="3000" data-stop="3650">0</span>+</div>
                        <h4 class="counter-title">Sucessfull Projects</h4>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

