<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-technology"></span></div>
                    <h3>Call me  +01 123 456 789</h3>
                    <div class="text">1010 Berkler ave, Brooklyn, New York City, NY 10018 US</div>
                </div>
            </div>
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-circular-clock-tool"></span></div>
                    <h3>Opening Hours</h3>
                    <div class="text">Mon- Sat 5:00 AM - 12:00 PM / Sundays closed</div>
                </div>
            </div>

            <!--Link Column-->
            <div class="column link-column col-md-4 col-sm-6 col-xs-12">
                <div class="link-btn5">
                    <a href="contact.html" class="btn-style-two">Contact us</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Services Two-->
<section class="services-two bg-1 padd-3">
    <div class="container">
        <div class="row clearfix">

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-graphic-3"></span></div>
                    <h3><a href="#">Business Growth</a></h3>
                    <div class="text">Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.</div>

                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Read More</a>
                    </div>
                </div>
            </div>


            <!--Default Service Block / Active-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <h3><a href="#">24 Hours Online Support</a></h3>
                    <div class="text">Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.</div>
                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Read More</a>
                    </div>
                </div>
            </div>

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <h3><a href="#">Business Strategy</a></h3>
                    <div class="text">Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus.</div>
                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


