
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>service details</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Project")">Projeler</a>
                </li>
                <li>
                    Proje Detayı
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
    
    </div><!-- /.container -->
</div>
<section class="service-single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="service-sidebar">
                    <ul class="service-catergory">
                        <li id="software" class="active" style="cursor:pointer"><a>Yazılım projeleri</a> <span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="human" style="cursor:pointer"><a >İnsan Kaynakları Projeleri</a><span class="view-all-icon fa fa-caret-right"></span></li>
                        <li id="finance" style="cursor:pointer"><a >Finans Projeleri</a><span class="view-all-icon fa fa-caret-right"></span></li>

                    </ul>
                    <br>
                    <br>

                </div>
            </div>

            <div class="col-md-9" id="softwareDiv">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/service/s1.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <br>

                    <div class="text">
                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>

                    </div>

                    <div class="inner-title">
                        <h3>Overview</h3>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.
                    </div>

                    <br>
                    <div class="text">
                        Finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex.<br><br>

                        Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.
                    </div><br>

                    <div class="strategies">
                        <div class="inner-title">
                            <h3>Marketing Strategy</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="text">
                                    <p>Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin.</p>
                                </div>
                                <ul class="benifit">
                                    <li>States starship enterprise the Brady.</li>
                                    <li>The odds are against him and their dangers.</li>
                                    <li>Travelled down the road and back again.</li>
                                    <li>A loveable space that needs your face threes.</li>
                                    <li>Donec sollicitudin molestie erat sit amet elementum.</li>
                                    <li>Travelled down the road and back again.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <figure class="image-box">
                                    <img src="images/service/ss2.jpg" alt="">
                                </figure>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9" id="humanDiv" hidden="hidden">
                <div class="video-column">
                    <div class="video-image-box">
                        <figure class="img-box">
                            <img src="~/Content/Site/images/service/s1.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <br>
            </div>


            <div class="col-md-9" id="financeDiv" hidden="hidden">
               

                <div class="text">
                    Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.<br>

                </div>

                <div class="inner-title">
                    <h3>Overview</h3>
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem. An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus.
                </div>

                <br>
                <div class="text">
                    Finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex.<br><br>

                    Consectetur adipiscing elit. Curabitur libero enim, lacinia finibus ante et, imperdiet finibus risus. Donec malesuada luctus elit nec hendrerit. Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin molestie erat sit amet elementum. Donec at lacinia massa, eu hen rit ex. Donec hendrerit, porttitor.
                </div><br>

                <div class="strategies">
                    <div class="inner-title">
                        <h3>Marketing Strategy</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="text">
                                <p>Integer ex sap ien, eleifend sit amet tellus ut, porttitor dictum velit. Nulla scelerisque, nisl eu maximus bibendum nibh risus eleifend ex, id dapibus leo dui in nulla. Donec sollicitudin.</p>
                            </div>
                            <ul class="benifit">
                                <li>States starship enterprise the Brady.</li>
                                <li>The odds are against him and their dangers.</li>
                                <li>Travelled down the road and back again.</li>
                                <li>A loveable space that needs your face threes.</li>
                                <li>Donec sollicitudin molestie erat sit amet elementum.</li>
                                <li>Travelled down the road and back again.</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <figure class="image-box">
                                <img src="images/service/ss2.jpg" alt="">
                            </figure>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        </div>
  
</section>

<script src="@Url.Content("~/Content/Site/js/jquery.js")"></script>

<script src="@Url.Content("~/Content/Site/js/project.js")"></script>

